@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: variables.$bg-primary-main;
}

h1,
h2 {
  font-family: variables.$ff-accent;
}

h1 {
  font-size: 2rem;
}

p {
  font-family: variables.$ff-primary;
  font-size: 1.2rem;
}

.accent {
  color: variables.$primary-accent;
}
