@use 'variables';

.stats-card {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 1.5rem;
  background-color: variables.$bg-primary-card;
  color: variables.$neutral-white;
  border-radius: 10px;
  max-width: 275px;

  &__content {
    text-align: center;
    padding: 3rem 2rem;
  }

  &__heading {
    margin-bottom: 1rem;
    color: variables.$neutral-white;
  }

  &__description {
    color: variables.$neutral-white-transparent-more;
    line-height: 1.6;
    margin-bottom: 3rem;
  }

  &__stat-group {
    margin: 2rem;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      text-transform: uppercase;
      color: variables.$neutral-white-transparent-less;
    }
  }

  &__img-div {
    background-color: variables.$primary-accent;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &__img-div img {
    display: block;
    width: 100%;
    max-height: 200px;
    opacity: 0.6;
    filter: brightness(50%);
    object-fit: fill;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
}
