// Colors

$bg-primary-main: hsl(233, 47%, 7%);
$bg-primary-card: hsl(244, 38%, 16%);
$primary-accent: hsl(277, 64%, 61%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-white-transparent-more: hsla(0, 0%, 100%, 0.75);
$neutral-white-transparent-less: hsla(0, 0%, 100%, 0.6);

// Fonts

$ff-primary: 'Inter', sans-serif;
$ff-accent: 'Lexend Deca', sans-serif;
